.center{
    position: absolute;
    background-color: aquamarine;
    width: 700px;
    text-align: center;

    top: 50%;
    left: 50%;

    margin-left: -300px;
    margin-top: -250px;
}
.profile{
    margin-top: 20px;
    border-radius: 20px;
}
.describe{
    text-align: left;
    font-size: 20px;
    font-family: monospace;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
}
.topic{
    padding: 10px;
}